<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638675095034-ansq3302op69oamvpq4rpp5u4dtcgq7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638675095034-ansq3302op69oamvpq4rpp5u4dtcgq7n</string>
	<key>API_KEY</key>
	<string>AIzaSyC1P_7RWo7rE1VgZgKOBioUgcqOQ6RmEyA</string>
	<key>GCM_SENDER_ID</key>
	<string>638675095034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Project</string>
	<key>PROJECT_ID</key>
	<string>spiritbond-8d54d</string>
	<key>STORAGE_BUCKET</key>
	<string>spiritbond-8d54d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638675095034:ios:fa3bfc4e6d2cf3f9286843</string>
	<key>DATABASE_URL</key>
	<string>https://spiritbond-8d54d.firebaseio.com</string>
</dict>
</plist>